<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">
</head>

<body class="main play">
<div class="wrap">
<div id="wrapper">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="logo col-md-2">
                <a href="/"><img src="/public/img/logo.png" alt="logo" /></a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="play-nav row">
                    <div class="col-md-3 nav-item">MNM Home</div>
                    <div class="col-md-3 nav-item">Upload</div>
                    <div class="col-md-3 nav-item">News</div>
                    <div class="col-md-3 nav-item" id="audioControl">Listen Live</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="lb photos col-md-8">
                <h1>Wie is het?</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                        {{#data}}
                        <div class="col-sm-2 object-item">
                            <img data-src="{{image}}" class="imgurImg" />
                            <h4>{{name}}</h4>
                            <br>
                        </div>
                        {{/data}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="db hiscores col-md-3">
                <h2>Hiscores</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li><h4>Jan</h4></li>
                            <li><h4>Piet</h4></li>
                            <li><h4>Erik</h4></li>
                            <li><h4>Evelien</h4></li>
                            <li><h4>Jan</h4></li>
                            <li><h4>Piet</h4></li>
                            <li><h4>Jan</h4></li>
                            <li><h4>Piet</h4></li>
                            <li><h4>Erik</h4></li>
                            <li><h4>Evelien</h4></li>
                            <li><h4>Jan</h4></li>
                            <li><h4>Piet</h4></li>
                            <li><h4>Jan</h4></li>
                            <li><h4>Piet</h4></li>
                            <li><h4>Erik</h4></li>
                            <li><h4>Evelien</h4></li>
                            <li><h4>Jan</h4></li>
                            <li><h4>Piet</h4></li>

                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li><h4>9150</h4></li>
                            <li><h4>8501</h4></li>
                            <li><h4>7650</h4></li>
                            <li><h4>7605</h4></li>
                            <li><h4>5300</h4></li>
                            <li><h4>5120</h4></li>
                            <li><h4>4980</h4></li>
                            <li><h4>4200</h4></li>
                            <li><h4>3540</h4></li>
                            <li><h4>3525</h4></li>
                            <li><h4>3260</h4></li>
                            <li><h4>2930</h4></li>
                            <li><h4>2900</h4></li>
                            <li><h4>2850</h4></li>
                            <li><h4>2800</h4></li>
                            <li><h4>2620</h4></li>
                            <li><h4>2170</h4></li>
                            <li><h4>2090</h4></li>
                        </ul>
                    </div>
                </div>
                
            </div>

        </div>

        <div class="row answer-field">
            <div class="col-md-3">
                <h2>Geef Antwoord:</h2>
            </div>
            <div class="col-md-3">

                <input type="text" class="form-control" placeholder="geef hier uw antwoord in">
                <div class="mnm-flag-holder"></div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block">Antwoord</button>
                <div class="mnm-flag-holder"></div>
            </div>
            <div class="col-md-4 current-stats">
                • Nog 5 pogingen over<br>
                • Nog 118 vragen over
            </div>
        </div>

        </div>
            <div class="row questions">
                    <h4>Questions</h4>
                    <script id="place-json" type="application/json">
                      {{locals}}
                    </script>
            </div>
        </div>

        <!-- <span>
        <h3>All the possible stuffs</h3>
        {{! Possible properties}}
        {{#locals.properties}}
            {{#people}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/people}}

            {{#object}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/object}}
        {{/locals.properties}}
        </span> -->
    </div>
  </div>
</div>
<div class="audio">
<!-- http://mp3.streampower.be/mnm-high.mp3 -->
<audio id="mnmRadio">
  <source src="http://mp3.streampower.be/mnm-low.mp3" type="audio/mpeg">
</audio>
<a href="#" id="audioControl">Listen Live</a>
<script>
var yourAudio = document.getElementById('mnmRadio'),
    ctrl = document.getElementById('audioControl');

ctrl.onclick = function () {

    // Update the Button
    var pause = ctrl.innerHTML === 'Mute';
    ctrl.innerHTML = pause ? 'Listen Live' : 'Mute';

    // Update the Audio
    var method = pause ? 'pause' : 'play';
    yourAudio[method]();

    // Prevent Default Action
    return false;
};
</script>
</div>


    <script type="text/javascript" src="/public/js/vendor/jquery-2.1.0.min.js"></script>
    <script src="/public/js/play.js"></script>

</body>

</html>
