<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">
</head>

<body class="main play">
<div class="wrap">
<div id="wrapper">
    <div class="logo">
    <a href="/"><img src="/public/img/logo.png" alt="logo" /></a>
    </div>
    <div class="container">
        <h1>{{title}}</h1>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                {{#data}}
                <div class="col-md-3 object-item">
                    <img data-src="{{image}}" class="imgurImg" />
                    <h4>{{name}}</h4>
                    <!-- {{#each properties}}
                        {{@key}} : {{this}}<br>
                    {{/each}} -->
                    <br>
                </div>
                {{/data}}
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="geef hier uw antwoord in">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success">Controleer</button>
                    </div>
                </div>
                <br>
                <div class="row questions">
                <h4>Questions</h4>
                <script id="place-json" type="application/json">
                  {{locals}}
                </script>
                    <!-- <div class="col-md-12"> -->
                    <!-- {{#locals.properties}}


                        {{#people}}
                        <div class="col-md-3">
                            {{name}}<br>
                        {{#possibilities}}
                        <a href="#">{{.}} ?</a><br>
                        {{/possibilities}}
                        </div>
                        {{/people}}

                        {{#object}}
                        <div class="col-md-3">
                            {{name}}<br>
                        {{#possibilities}}
                        <a href="#">{{.}} ?</a><br>
                        {{/possibilities}}
                        </div>
                        {{/object}}
                    {{/locals.properties}} -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="fb-login">
                <h3>Welcome</h3>
                <button class="btn btn-primary disabled">
                Log in with Facebook
                </button>
                </div>
                <div class="highscores" style="width:80%;">
                <h3>Highscores</h3>
                <div>1. speler 1<span style="float:right">165</span></div>
                <div>2. speler 2<span style="float:right">165</span></div>
                <div>3. speler 3<span style="float:right">165</span></div>
                <div>4. speler 4<span style="float:right">165</span></div>
                <div>5. speler 5<span style="float:right">165</span></div>
                <div>6. speler 6<span style="float:right">165</span></div>
                <div>7. speler 7<span style="float:right">165</span></div>
                <div>8. speler 8<span style="float:right">165</span></div>
                <div>9. speler 9<span style="float:right">165</span></div>
                <div>10. speler 10<span style="float:right">165</span></div>
                <div>11. speler 11<span style="float:right">165</span></div>
                <div>12. speler 12<span style="float:right">165</span></div>
                <div>13. speler 13<span style="float:right">165</span></div>
                <div>14. speler 14<span style="float:right">165</span></div>
                <div>15. speler 15<span style="float:right">165</span></div>
                <div>16. speler 16<span style="float:right">165</span></div>
                <div>17. speler 17<span style="float:right">165</span></div>
                <div>18. speler 18<span style="float:right">165</span></div>
                <div>19. speler 19<span style="float:right">165</span></div>
                <div>20. speler 20<span style="float:right">165</span></div>
                </div>
            </div>
        </div>

        <!-- <span>
        <h3>All the possible stuffs</h3>
        {{! Possible properties}}
        {{#locals.properties}}
            {{#people}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/people}}

            {{#object}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/object}}
        {{/locals.properties}}
        </span> -->
    </div>
  </div>
</div>
<div class="audio">
<!-- http://mp3.streampower.be/mnm-high.mp3 -->
<audio id="mnmRadio">
  <source src="http://mp3.streampower.be/mnm-low.mp3" type="audio/mpeg">
</audio>
<a href="#" id="audioControl">Listen Live</a>
<script>
var yourAudio = document.getElementById('mnmRadio'),
    ctrl = document.getElementById('audioControl');

ctrl.onclick = function () {

    // Update the Button
    var pause = ctrl.innerHTML === 'll';
    ctrl.innerHTML = pause ? '&#9654;' : 'll';

    // Update the Audio
    var method = pause ? 'pause' : 'play';
    yourAudio[method]();

    // Prevent Default Action
    return false;
};
</script>
</div>


    <script type="text/javascript" src="/public/js/vendor/jquery-2.1.0.min.js"></script>
    <script src="/public/js/play.js"></script>

</body>

</html>
