<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body class="main">
    <div class="logo">
    <a href="/"><img src="/public/img/logo.png" alt="logo" /></a>
    </div>
    <div class="container">
        <h1>{{title}}</h1>
        {{#data}}
            <img src="{{image}}"/>
            <h3>{{name}}<small style="color:white;"> - type: {{type}}</small></h3>
            {{#each properties}}
                {{@key}} : {{this}}<br>
            {{/each}}
            <br>
        {{/data}}

        <span style="color:white">
        <h3>All the possible stuffs</h3>
        {{! Possible properties}}
        {{#locals.properties}}
            {{#people}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/people}}

            {{#object}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/object}}
        {{/locals.properties}}
        </span>
  </div>


    <script type="text/javascript" src="/public/js/vendor/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.shapeshift.min.js"></script>
    <script type="text/javascript" src="/public/js/vendor/jquery.touch-punch.min.js"></script>
    <script type="text/javascript" src="/public/js/color.js"></script>
    <script type="text/javascript" src="/public/js/script.js"></script>
    <script type="text/javascript" src="/public/js/upload.js"></script>

</body>

</html>
