<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">
</head>

<body class="main play">
<div class="wrap">
<div id="wrapper">
    <div class="container">
        {{!-- <div class="row">
            <div class="logo col-xs-2">
                <a href="/"><img src="/public/img/logo.png" alt="logo" /></a>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="play-nav row">
                    <div class="col-xs-3 nav-item">MNM Home</div>
                    <div class="col-xs-3 nav-item">Upload</div>
                    <div class="col-xs-3 nav-item">News</div>
                    <div class="col-xs-3 nav-item" id="audioControl">Listen Live</div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        --}}
        <div class="row">
            <div class="lb photos col-md-8">
                <div class="row">
                    <div class="col-xs-8">
                        <h1>Wie is het?</h1>
                    </div>
                    <div class="upload-field col-xs-4">
                        <button class="btn btn-success btn-block">Upload je eigen foto</button>
                        <div class="mnm-flag-holder"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                        {{#data}}
                        <div class="object-item">
                            <img data-src="{{image}}" class="imgurImg" />
                            <h4>{{name}}</h4>
                            <br>
                        </div>
                        {{/data}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="db questions col-md-3">
                <h2>Questions</h2>
                <ul>
                    <li>Is it male?</li>
                    <li>Is it female?</li>
                    <li>Does it wear glasses?</li>
                    <li>Does he have a goatee?</li>
                    <li>Does he have a mustache</li>
                    <li>Does he have a beard?</li>
                    <li>Does it have blonde hair?</li>
                    <li>Does it have brown hair?</li>
                    <li>Does it have black hair?</li>
                    <li>Does it have ginger hair?</li>
                    <li>Does it have long hair?</li>
                    <li>Does it have short hair?</li>
                    <li>Does it have bald hair?</li>
                    <li>Is it bald?</li>
                    <li>Does it accesorize with nothing?</li>
                    <li>Does it accesorize with earrings?</li>
                    <li>Does it accesorize with glasses?</li>
                    <li>Does it accesorize with a hat?</li>
                    <li>Does it accesorize with earrings and a hat?</li>
                    <li>Does it accesorize with glasses and a hat?</li>
                    <li>Does it accesorize with earrings and glasses?</li>
                </ul>
                <!--<script id="place-json" type="application/json">
                  {{locals}}
                </script>
                <select class="q form-control" style="margin:0 !important;">

                </select>-->
                
            </div>

        </div>

        <div class="row answer-field">
            <div class="col-xs-3">
                <h2>Geef Antwoord:</h2>
            </div>
            <div class="col-xs-3">

                <input type="text" class="form-control" placeholder="geef hier uw antwoord in">
                <div class="mnm-flag-holder"></div>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-success btn-block">Antwoord</button>
                <div class="mnm-flag-holder"></div>
            </div>
            <div class="col-xs-4 current-stats">
                • Nog 5 pogingen over<br>
                • Nog 118 vragen over
            </div>
        </div>

        <!--</div>
            <div class="row questions">
                    <h4>Questions</h4>
                    <script id="place-json" type="application/json">
                      {{locals}}
                    </script>
                    <select class="q form-control" style="margin:0 !important;">

                    </select>
            </div>
        </div>-->

        <!-- <span>
        <h3>All the possible stuffs</h3>
        {{! Possible properties}}
        {{#locals.properties}}
            {{#people}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/people}}

            {{#object}}
            <h4>{{name}}</h4>
            {{#possibilities}}
            {{.}}-
            {{/possibilities}}
            {{/object}}
        {{/locals.properties}}
        </span> -->
    </div>
  </div>
</div>
<div class="audio">
<!-- http://mp3.streampower.be/mnm-high.mp3 -->
{{!-- <audio id="mnmRadio">
  <source src="http://mp3.streampower.be/mnm-low.mp3" type="audio/mpeg">
</audio>
<a href="#" id="audioControl">Listen Live</a> --}}
<script>
var yourAudio = document.getElementById('mnmRadio'),
    ctrl = document.getElementById('audioControl');

// ctrl.onclick = function () {

//     // Update the Button
//     var pause = ctrl.innerHTML === 'Mute';
//     ctrl.innerHTML = pause ? 'Listen Live' : 'Mute';

//     // Update the Audio
//     var method = pause ? 'pause' : 'play';
//     yourAudio[method]();

//     // Prevent Default Action
//     return false;
// };
</script>
</div>


    <script type="text/javascript" src="/public/js/vendor/jquery-2.1.0.min.js"></script>
    <script src="/public/js/play.js"></script>

</body>

</html>
