<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <style>
    body{
        background-color: #09306C;
        width: 100%;
    }
    a.categorie-link, a.property{
        background: #138BD3 !important;
        font-weight: 800;
    }
    a.active{
        background: #D9001B !important;
    }
    #wrapper{
        padding: 20px;
    }
    .btn-back{
        margin: 15px;
        font-weight: 800;
        color: #138BD3;
    }
    h5{
        font-size: 13pt;
    }
    </style>
</head>

<body>
<div class="logo">
 <a href="/" class="btn btn-default btn-back">Back</a>
 </div>
<!-- <a class="btn btn-default" href="/" style="margin: 1%;">Back</a> -->
    <div class="container">
    <div id="wrapper">
        <h1>{{title}}</h1>

        <form role="form" id="saveForm" name="saveForm">
            <div class="row">
                <div class="col-xs-12">
                    <label>1. Choose your image</label>
                    <input type="file" id="imgInput">
                    <br>
                    <div id="preview"></div>
                    <input type="hidden" name="image_url" value="" id="img_url_result">
                    <br>
                    <input type="hidden" name="image_url_thumb" value="" id="img_url_result_thumb">
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <label>2. Give your image a Name</label>
                    <br>
                    <input type="text" required class="form-control" style="max-width: 300px;" id="image-name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <label>3. Choose your attributes</label>
                    <div class="attribute-options people-options">

                    {{#props}}
                    <div class="group">
                        <h5>{{name}}</h5>
                        <ul class="nav nav-pills nav-pill">
                        {{#each possibilities}}
                        <li>
                            <a href="#" class="property" data-group="{{../name}}" data-value="{{.}}">{{.}}</a>
                        </li>
                        {{/each}}
                        </ul>
                    </div>
                    {{/props}}
                    </div>
                </div>
            </div>
            <br>
             <div class="row">
             <div class="submit-bn hiddenStuff">
                <div class="col-xs-12">
                    <label>5. Submit your image</label><br>
                    <button class="btn btn-success btn-save-object">Submit</button>
                </div>
            </div>
            </div>
            <br>

        </form>
        </div>

    </div>


    <script type="text/javascript" src="/public/js/vendor/jquery-2.1.0.min.js"></script>
<!--     <script type="text/javascript" src="/public/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.shapeshift.min.js"></script>
    <script type="text/javascript" src="/public/js/vendor/jquery.touch-punch.min.js"></script> -->
    <script type="text/javascript" src="/public/js/script.js"></script>
    <script type="text/javascript" src="/public/js/upload.js"></script>

</body>

</html>
